@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/scrollbar";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
::selection{
  background: #9CA3AF;
  color: rgb(0, 0, 0,.8);
}
.bgOpacity{

background-color:  rgb(156, 163, 175, 0.7);
}
*{
  max-width: 100%;
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  
}